---
layout: blank
---
    {% for page in paginator.posts %}
    <article>
      <header>
        <h2><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h2>
        <p>{% if page.author %}{{ page.author }} • {% endif %}{% if page.date %}<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>{% endif %}{% if page.categories %} {{ page.categories | array_to_sentence_string }}{% endif %}</p>
      </header>
      <div>
{{ page.excerpt }}
      </div>
      <footer>
        <p><a href="{{ page.url | prepend: site.baseurl }}">{{ site.more }} &raquo;</a></p>
      </footer>
    </article>
    {% endfor %}


<!-- Pagination links -->
<div class="pagination">
  <center>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous"><b>Previous </b></a>
  {% else %}
    <span class="previous"><b>Previous </b></span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next"><b> Next</b></a>
  {% else %}
    <span class="next "><b> Next</b></span>
  {% endif %}
  </center>
</div>