<div class="share">
    <p>
        Share
    </p>
    <ul>
        <li>
        <a target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
        <i class="fa fa-twitter"></i>
        </a>
        </li>
    </ul>
    <div class="sep">
    </div>				
    <ul>
        <li> 
        <a  class="small" href="#disqus_thread"></a>
        </li>
    </ul>
</div>