{{ $data := .Site.Data.agentic_tools_comparison }}

<div class="comparison-table-wrapper wide-table">
  <table class="comparison-table">
    <thead>
      <tr>
        <th class="feature-column"></th>
        {{ range $tool := $data.tools }}
          {{ $headerHighlight := $tool.header_highlight | default 0 }}
          <th class="tool-avg-{{ $headerHighlight }}">{{ $tool.name }}</th>
        {{ end }}
      </tr>
    </thead>
    <tbody>
      {{ range $category := $data.categories }}
        <tr class="category-row">
          <td colspan="{{ add (len $data.tools) 1 }}" class="category-name">
            {{ $category.name }}
          </td>
        </tr>
        {{ range $feature := $category.features }}
          <tr>
            <td class="feature-name">{{ $feature.name }}</td>
            {{ range $tool := $data.tools }}
              {{ $value := index $feature $tool.id }}
              {{ $highlightKey := printf "%s_highlight" $tool.id }}
              {{ $highlightLevel := index $feature $highlightKey }}
              {{ if eq $highlightLevel nil }}
                {{ $highlightLevel = 0 }}
              {{ end }}

              {{ $displayText := "" }}
              {{ $cellUrl := "" }}
              {{ $tooltip := "" }}

              {{ $valueType := printf "%T" $value }}
              {{ if or (eq $valueType "map[string]interface {}") (eq $valueType "map[interface {}]interface {}") }}
                {{ $displayText = index $value "text" }}
                {{ $cellUrl = index $value "url" | default "" }}
                {{ $tooltip = index $value "tooltip" | default "" }}
              {{ else }}
                {{ $displayText = $value }}
              {{ end }}

              {{ if $cellUrl }}
                <td class="highlight-{{ $highlightLevel }} has-cell-link{{ if $tooltip }} has-tooltip{{ end }}"
                    {{ if $tooltip }}data-tooltip="{{ $tooltip }}"{{ end }}>
                  <a href="{{ $cellUrl }}" target="_blank" rel="noopener noreferrer" class="cell-link" onclick="console.log('Link clicked: {{ $cellUrl }}')">
                    {{ $displayText }}
                  </a>
                </td>
              {{ else }}
                <td class="highlight-{{ $highlightLevel }}{{ if $tooltip }} has-tooltip{{ end }}"
                    {{ if $tooltip }}data-tooltip="{{ $tooltip }}"{{ end }}>
                  {{ $displayText }}
                </td>
              {{ end }}
            {{ end }}
          </tr>
        {{ end }}
      {{ end }}
    </tbody>
  </table>
</div>

{{ $js := resources.Get "js/comparison-table-tooltips.js" }}
{{ if $js }}
  {{ $js = $js | resources.Minify }}
  <script src="{{ $js.RelPermalink }}"></script>
{{ end }}
