<!doctype html>
{{- $w := partial "deskbar/window.html" . }}
<html lang="{{ site.Language.Locale | default "en" }}" data-index="{{ with site.Home.OutputFormats.Get "deskbar" }}{{ .RelPermalink }}{{ end }}" data-photos="{{ partialCached "deskbar/apps/photos-url.html" site }}" data-saver="{{ with site.Params.deskbar.screensaver }}{{ if isset . "minutes" }}{{ .minutes }}{{ else }}5{{ end }}{{ else }}5{{ end }}">
<head>
  {{- partial "deskbar/head.html" . }}
  {{- partial "hooks/head-end.html" . }}
</head>
<body>
  {{- partial "deskbar/panel.html" . }}
  {{- partial "deskbar/desk.html" . }}
  <main id="content" data-window="{{ $w.kind }}" data-title="{{ $w.title }}" data-slug="{{ $w.slug }}" data-place="{{ $w.place }}" data-icon="{{ $w.icon }}"{{ with .Params.windowWidth }} data-width="{{ . }}"{{ end }}{{ with .Params.windowHeight }} data-height="{{ . }}"{{ end }}{{ if .Params.windowBesidePosts }} data-beside-posts{{ end }}{{ with .Params.windowTile }} data-tile="{{ . }}"{{ end }}>
    {{- block "main" . }}{{ end }}
  </main>
  {{- partial "deskbar/dock.html" . }}
  {{- partial "deskbar/icons.html" . }}
  {{- partial "hooks/body-end.html" . }}
</body>
</html>
