---
layout: with-sidebar
---
<div class="sub-nav">
    <a href="#" class="select-posts active">Posts</a>
    <!-- <a href="#" class="select-categories">Categories</a> -->
</div>

<div class="home-page-posts">
    {% for post in paginator.posts %}

    <article class="post">
        <div class="post-preview col-xs-40  no-gutter">
            <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

            {{ post.excerpt | truncatewords: 28 }}

            <p class="meta">
                <a href="{{ post.author_url | prepend: site.baseurl }}">{{ post.author_name}}</a> in <a href='{{ "/category/" | append: post.categories.first | prepend: site.baseurl }}'>{{ post.categories.first | capitalize }}</a> <i class="link-spacer"></i></i>
            </p>
        </div>


        {% if post.show_avatar == true %}
        <div class=" col-xs-2  no-gutter">
            <img src="{{ site.baseurl}}/img/{{ post.author_avatar }}.jpg" class="user-icon user-1" alt="user-image">
        </div>
        {% endif %}
    </article>
    {% endfor %}

</div><!-- Home page posts -->

<div class="home-page-categories hide">
    <div class="category row">
        <section>
            {% for category in site.categories %}

                <div class="category-preview col-xs-6 col-sm-4 ">
                    <h2>{{ category | first | capitalize }}</h2>
                    <a href='{{ "/category/" | append: category.first | prepend: site.baseurl }}'><img src='{{ "/img/" | append: category.first | prepend: site.baseurl }}-thumbnail.jpg' alt="category-image"></a>
                </div>
            {% endfor %}
        </section>
    </div>
</div>

{% if paginator.total_pages > 1 %}
<h2><div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}</h2>
