---
layout: default
---

<header>
  <div class="no-js-menu clearfix">
      <ul>
          {% for page in site.nav_list %}
              <li><i class="fa {{ page[1][2] }}"></i><a href="{{ page[1][1] | prepend: site.baseurl }}">{{ page[1][0] }}</a></li>
          {% endfor %}
      </ul>
  </div>
</header>

<main class="container left-container">
    <div class="row">
        {% include sidebar.html %}

        <div class="col-md-7 col-sm-12 col-md-offset-5 main-content">
            {{ content }}
            {% include mini-footer.html %}
        </div><!-- main content -->
    </div> <!--/row -->

</main> <!-- /container -->
