{{< code-block font-size="10pt" language="text" >}}
{{/* Get the font-size and language attributes from the shortcode */}}
{{ $fontSize := .Get "font-size" }}
{{ $language := .Get "language" }}

{{/* Create a stylesheet that sets the font size for the code block */}}
<style>
pre {
  font-size: {{ $fontSize }};
}
</style>

{{/* Print the content of the shortcode, using the specified language for syntax highlighting */}}
{{< highlight $language >}}
{{ .Inner }}
{{< /highlight >}}
{{< /code-block >}}
