{{- /* Native vRAM estimator: vanilla JS bundled from assets/js/vram/, styles scoped under .vram-est */ -}}
{{- $js := resources.Get "js/vram/index.js" | js.Build (dict "format" "iife" "minify" true "target" "es2022" "targetPath" "js/vram-estimator.js") | fingerprint -}}
{{- $css := resources.Get "css/vram-calculator.css" | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
<div class="vram-est"{{ with .Get "id" }} id="{{ . }}"{{ end }}>
  <p class="ve-nojs">The vRAM estimator runs in your browser and needs JavaScript enabled.</p>
</div>
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
